<!DOCTYPE html>
<html ng-app="registerApp">

    <head >
        <meta name ="autor" content="cristina" ; charset="UTF-8">
        <TItle> Validación del Login </TItle>
        <link rel="stylesheet" href="Css/estilogin.css">
        <script src="login.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-analytics.js"></script>
    <script src="firebase.js"></script>
    <script src="angular.min.js"></script>
    <script src="registerController.js"></script>
    </head>
    <body ng-controller ="registerController" >
        <form class="formulario">
            <h3>Registrar</h3>
            <div class="contenedor">
                <div class="input.cantenedor">
                    <input type="text" placeholder="Email" ng-model="emailRegisterInput" >
                </div>
            <div class="contenedor">
                <div class="input.cantenedor">
                    <input type="password" placeholder="Password" ng-model="passwordRegisterInput" >
                </div>
                <input type="button" ng-click="registerUser()" value="Registrar" id="submit" />
                
                <p>{{errorMg}}</p>
               <center><a  class="link" href="logininicio.html">Iniciar secion</a></center> 
            </div>
        </form>
            
    </body>
</html>